#DatosAlumno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh; /* ajusta si quieres más o menos espacio */
    gap: 0.8rem;
}

#DatosAlumno span {
    font-size: 1.3rem;
    font-weight: 500;
    color: #d92525;
}